<div class="headerdiv">
    <h2>Transfer Request</h2>
</div>

<div class="example-full-width">
    <form class="example-form" [formGroup]="searchForm" #formDir="ngForm">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <h4 style="color: #3f51b5;text-align: center;">Please search by the TRP username</h4>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>User Name</mat-label>
                    <input matInput formControlName="uname" type="text"  placeholder="User Name">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <app-button
                [label]="buttonLabel"
                [color]="buttonColor" 
                [type]="buttonType"
                (click)="searchTRP()"
                >
            </app-button>
            </tr>
        </table>
    </form>
</div>
<div style="margin-top: 30px; clear: both;" class="example-full-width">  
    <form class="example-form-table" [formGroup]="tranferForm" #formDir="ngForm">

        <table mat-table [dataSource]="trpData"  *ngIf="showTable">
        
            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
            <!-- Position Column -->
            <ng-container matColumnDef="reName">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.reName}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="tinNo">
            <th mat-header-cell *matHeaderCellDef>Username </th>
            <td mat-cell *matCellDef="let element"> {{element.tinNo}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="trpId">
            <th mat-header-cell *matHeaderCellDef> TRP Id </th>
            <td mat-cell *matCellDef="let element"> {{element.trpId}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">  
                    <app-button
                        [label]="buttonLabel2"
                        [color]="buttonColor" 
                        [type]="buttonType"
                        (click)="changeTRP()"
                        >
                    </app-button>
                    <div style="margin-top: 15px;clear: both;" *ngIf="clicked">
                        <mat-form-field class="example-full-width" >
                            <textarea matInput placeholder="Please mention the reason" formControlName="reason"></textarea>
                        </mat-form-field>

                        <app-button
                        [label]="buttonLabel3"
                        [color]="buttonColor2" 
                        [type]="buttonType"
                        (click)="requestSubmit()"
                        >
                    </app-button> 
                    </div>
                   
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
        </table> 
    </form>
</div>
