<div class="headerdiv">
    <h2>Transfer Request</h2>
</div>

<div class="example-full-width">
    <form class="example-form" [formGroup]="tranferForm" #formDir="ngForm">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <h4 style="color: #3f51b5;text-align: center;">Enter necessary Information</h4>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>User Name</mat-label>
                    <input matInput formControlName="username" type="text"  placeholder="User Name">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Your Role</mat-label>
                    <input matInput  formControlName="role" type="text"  placeholder="Your Role">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Existing Resource Center</mat-label>
                    <input matInput  formControlName="agent" type="text"  placeholder="Previous Resource Center">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <mat-form-field class="example-full-width">
                <mat-label>Please describe the reason</mat-label>
                <textarea matInput placeholder="Reason" formControlName="reason"></textarea>
                </mat-form-field>
               
            </tr>

            <tr>
                <mat-form-field class="example-full-width">
                <mat-label>Choose Desired Resource Center</mat-label>
                <mat-select formControlName="requestFor">
                    <mat-option *ngFor="let ag of agents" [value]="ag.tin" [disabled]="ag.tin==agentPrev">
                        {{ag.name}}
                    </mat-option>
                </mat-select>                
                </mat-form-field>
            </tr>
          
          
        
            <tr class="clear:both;">
                
                <td>  
                    <app-button
                        [label]="buttonLabel"
                        [color]="buttonColor" 
                        [type]="buttonType"
                        [disabled]="submitted"
                        (click)="requestSubmit()"
                        >
                    </app-button>
                </td>
            </tr>
        </table>
    
    </form>

</div>