.login-container {
    width: 100%;
    float: left;
    display: block;
    height: 100%;
}
    /* background: linear-gradient(135deg, #ffe645 0%, #e2aa02 100%); */
   /* background: url('../../assets/img/nbr.jpg');
    background-size: content;
    background-repeat: no-repeat;
    position: relative;
    background-position: 16% 53%;
    background-size: 20%;
}*/
.login-form .logo {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    width: 100%;
    clear: both;
    color: #3f51b5;
    margin-top: 30px;
    text-align: center;
}
.login-container .desc {
    font-size: 34px;
    font-family: 'Aladin', cursive;
    letter-spacing: 5px;
    position: absolute;
    top: 200px;
    right: 50px;
    text-align: right;
    width: 1200px;
}
.login-container .login-form {
    width: 22%;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    float: left;
    box-shadow: 5px 5px 20px #383838;
    margin-top: 8%;
    margin-bottom: 13%;
}
.login-container .login-left{
    width: 65%;
    float: left;
    height: 100%;
}
.login-container .login-form .form-group {
    margin-top: 20px;
}
.login-container .login-form label {
    font-weight: bold;
}
.login-container .login-form .btn-container {
    position: relative;
}
.login-container .login-form .btn-container .btn {
    margin-top: 30px;
}
.login-container .login-form .btn-container .error {
    position: absolute;
    top: 32px;
    right: 0px;
    color: red;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-spacer {
    flex: 1 1 auto;
}

#nbr_logo{
    width: 70%;
    margin-left: 15%;
}
.login-left>h1 {
    color: #3f51b5;
    font-weight: 100;
    margin-left: 0%;
    text-align: center;
}
.login-left:first-child {
    margin-top: 16%;
}

.title {
    font-size: 32px;
}
.link{
    color: #3f51b5;
}

@media only screen and (max-width: 767px) {
    .login-container .login-form {
        width: 100%;
        height: auto;
        float: left;
        /* margin-top: 8%;
        margin-bottom: 13%; */
    }
    .login-container .login-left{
        width: 100%;
        float: left;
    }
  }