<div class="headerdiv">
    <h2>List of Metrics</h2>
  </div>
  <!-- <div *ngIf="!loaded" style="text-align: center; margin-top: 50px;">
      <p style="color:red;">Data Couldn't be loaded</p>
  </div> -->
  <table mat-table [dataSource]="metricsList" class="mat-elevation-z8">

      <ng-container matColumnDef="assessmentYear">
        <th mat-header-cell *matHeaderCellDef>Assessment Year </th>
        <td mat-cell *matCellDef="let element"> {{element.assessmentYear}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="taxAmount">
        <th mat-header-cell *matHeaderCellDef>Tax Amount</th>
        <td mat-cell *matCellDef="let element"> {{element.taxAmount=="0"?"Minimum Tax":element.taxAmount=="1"?"Rest of the Tax":element.taxAmount}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="agentRate">
        <th mat-header-cell *matHeaderCellDef> Agent Rate</th>
        <td mat-cell *matCellDef="let element"> {{element.agentRate}}% </td>
      </ng-container>

      <ng-container matColumnDef="representativeRate">
        <th mat-header-cell *matHeaderCellDef> TRP Rate</th>
        <td mat-cell *matCellDef="let element"> {{element.representativeRate}}% </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="yearNo">
        <th mat-header-cell *matHeaderCellDef>No of Year </th>
        <td mat-cell *matCellDef="let element"> {{element.yearNo}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    