<div class="headerdiv">
  <h2>List of Resouce Centers</h2>
</div>

<div *ngIf="!loaded" style="text-align: center; margin-top: 50px;">
    <p style="color:red;">Data Couldn't be loaded</p>
</div>
<table mat-table [dataSource]="agentsArr" class="mat-elevation-z8" *ngIf="loaded">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="serial">
      <th mat-header-cell *matHeaderCellDef>Serial </th>
      <td mat-cell *matCellDef="let element;let i=index;"> {{i+1}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>  Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>User Name (TIN) </th>
      <td mat-cell *matCellDef="let element"> {{element.tin}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="mobile_no">
      <th mat-header-cell *matHeaderCellDef> Mobile No </th>
      <td mat-cell *matCellDef="let element"> {{element.mobileNo}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="registration_no">
      <th mat-header-cell *matHeaderCellDef> Registration No </th>
      <td mat-cell *matCellDef="let element"> {{element.registrationNo}} </td>
    </ng-container>

    <ng-container matColumnDef="contact_email">
        <th mat-header-cell *matHeaderCellDef> Contact Email </th>
        <td mat-cell *matCellDef="let element"> {{element.contactEmail}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
          <app-button
          [label]="buttonLabel"
          [color]="buttonColor" 
          [type]="buttonType"
          (click)="edit(element.tin)"
          >
      </app-button>
      </td>
  </ng-container>

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  