<div class="headerdiv">
    <h2>Details of Ledger</h2>
</div>


<table>
    <tr>
        <td>
            <span><b>Resource Center: </b></span>
            <span >{{ledger.agentTin}}</span>
            </td>
        <td>
            <span ><b>Assessment : </b></span>
            <span >{{ledger.assessmentYear}}</span>
        </td>
    </tr>
    <tr>
        <td>
            <span> <b>Paid: </b></span>
            <span>{{ledger.paymentMethod}}</span>
        </td>
        <td>
            <span ><b>Paid By: </b></span>
            <span >{{ledger.paymentMethod}}</span>
        </td>
    </tr>
    <tr>

        <td>
            <span><b>Taxpayer Identity Number: </b></span>
            <span>{{ledger.taxpayerId}}</span>
        </td>

        <td>
            <span><b>Paid Amount: </b></span>
            <span >{{ledger.paidAmount}}</span>
        </td>

    </tr>
    <tr>
        <td>
            <span ><b>Minimum Tax: </b></span>
            <span >{{ledger.minimumTax}}</span>
        </td>

        <td>
            <span ><b>Paid At: </b></span>
            <span >{{ledger.created_at | date:('short')}}</span>
        </td>
    </tr>
    <tr>
        <td>
            <span ><b>Commission Earned: </b></span>
            <span >{{ledger.commissionRepresentative}}</span>
        </td>
    </tr>
</table>
      
