<h3 class="center">TRP Approval - TRP Details</h3>
<img [attr.src]="image" alt="" class="img-responsive">



<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Basic Information
        </mat-panel-title>
        <mat-panel-description>
            Click to Expand
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Name: {{representative.reName}}</p>
      <p>Date of Birth: {{representative.reDob | date}}</p>
      <p>Mobile No: {{representative.reMobile | date}}</p>
      <p>User Name: {{representative.tinNo}}</p>
      <p>NID: {{representative.nid}}</p>  
      <p>
        <app-button
        [label]="buttonLabel2"
        [color]="buttonColor1" 
        [type]="buttonType1"
        (click)="openPdf()">
      </app-button>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
              Bank Information
            </mat-panel-title>
            <mat-panel-description>
                Click to Expand
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngFor="let bank of representative.re_bankinformation">
            <p>Account Name: {{bank.bankAccountName}}</p>
            <p>Bank Account No: {{bank.bankAccountNo}}</p>
            <p>Bank Name: {{bank.bankName}}</p>
            <p>Bank Branch: {{bank.bankBranch}}</p>
            <p>Routing No: {{bank.routingNo}}</p>  
          </div>
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
          <mat-panel-title>
            Agent Information
          </mat-panel-title>
          <mat-panel-description>
              Click to Expand
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="agentLoaded">
          <p>Agent Name: {{agent.name}}</p>
          <p>Agent TIN: {{agent.tin}}</p>
          <p>Focal Person: {{agent.contactPerson}}</p>
          <p>Focal Person Mobile: {{agent.contactNumber}}</p>
          <p>Focal Person Email: {{agent.contactEmail}}</p>  
        </div>
        <div *ngIf="!agentLoaded">
          <form class="example-form" [formGroup]="assignAgent" #formDir="ngForm">

            <mat-form-field class="example-full-width">
              <mat-label>Agent</mat-label>
              <mat-select matNativeControl required formControlName="agentId">
                  <mat-option value="">--Select--</mat-option>
                  <mat-option *ngFor="let age of agentAll" [value]="age[1]">{{age[2]}}</mat-option>  
                  <mat-option value="0">None</mat-option> 
              </mat-select>
            </mat-form-field>
          </form>
        </div>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
  </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
              Address Information
            </mat-panel-title>
            <mat-panel-description>
                Click to Expand
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngFor="let address of representative.re_address">
            <h3 style="text-align: center;">Address Type: {{address.type}}</h3>
            <p>District: {{address.district}}</p>
            <p>City Corporation: {{address.citycorporation}}</p>
            <p>Thana: {{address.thana}}</p>
            <p>Union: {{address.villageUnion}}</p>
            <p>Ward: {{address.ward}}</p>
            <p>Road: {{address.road}}</p>
            <p>Block: {{address.block}}</p>
            <p>House: {{address.house}}</p>
            <p>Flat: {{address.flat}}</p>
            <p>Date Added: {{address.addedDate | date}}</p> 
          </div>
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">End</button>
            <button mat-button color="primary" (click)="approve(representative.tinNo)">Approve</button>
            <button mat-button color="primary" (click)="reject(representative.tinNo)">Reject</button>
          </mat-action-row>
    </mat-expansion-panel>
  
  </mat-accordion>