<div class="headerdiv">
    <h2>Profile</h2>
</div>
<div class="fullWidth">
    <h3 style="color:#3f51b5;float: left;">Update Profile Picture</h3><hr>
    <div class="example-full-width">
        <br>
        <input (change)="selectPhoto($event)" #fileInput type="file" id="photo">

        <app-button
            [label]="buttonLabel"
            [color]="buttonColor" 
            [type]="buttonType"
            (click)="uploadPhoto()"
            >
        </app-button>
        <p class="success" *ngIf="photoUploaded">Photo Uploaded Successfully</p>
</div>
<div class="fullWidth">
    <h3 style="color:#3f51b5;float: left;">Update Password</h3><hr>
    <form class="example-form" #formDir="ngForm" [formGroup]="paswordSubmit">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Old Password</mat-label>
                        <input matInput formControlName="password" type="password">
                    </mat-form-field>
                </td>
            </tr>
    
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>New Password</mat-label>
                        <input matInput formControlName="newpassword" type="password">
                    </mat-form-field>
                </td>
            </tr>
    
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Cofirm Password</mat-label>
                        <input matInput formControlName="confirmpassword" type="password">
                    </mat-form-field>
                </td>
            </tr>
    
            
            <tr>
                <td>
                    <app-button
                    [label]="buttonLabel"
                    [color]="buttonColor" 
                    [type]="buttonType"
                    (click)="changePassword()"
                    >
                </app-button>
                </td>
            </tr>
        </table>
    </form>
</div>
