<div class="headerdiv">
    <h2>Password</h2>
</div>
<form class="example-form" #formDir="ngForm" [formGroup]="paswordSubmit">
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Old Password</mat-label>
                    <input matInput formControlName="password" type="password">
                </mat-form-field>
            </td>
        </tr>

        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>New Password</mat-label>
                    <input matInput formControlName="newpassword" type="password">
                </mat-form-field>
            </td>
        </tr>

        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Cofirm Password</mat-label>
                    <input matInput formControlName="confirmpassword" type="password">
                </mat-form-field>
            </td>
        </tr>

        
        <tr>
            <td>
                <app-button
                [label]="buttonLabel"
                [color]="buttonColor" 
                [type]="buttonType"
                (click)="changePassword()"
                >
            </app-button>
            </td>
        </tr>
    </table>
</form>