<div class="headerdiv">
    <h2>List of Requests to Change Agents</h2>
  </div>
  <!-- <div *ngIf="!loaded" style="text-align: center; margin-top: 50px;">
      <p style="color:red;">Data Couldn't be loaded</p>
  </div> -->
  <table mat-table [dataSource]="reqs" class="mat-elevation-z8">

      <ng-container matColumnDef="serial">
        <th mat-header-cell *matHeaderCellDef>Serial </th>
        <td mat-cell *matCellDef="let element;let i=index;"> {{i+1}} </td>
      </ng-container>
    
      <!-- Name Column -->
     
    
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="requestedBy">
        <th mat-header-cell *matHeaderCellDef> TRP Username </th>
        <td mat-cell *matCellDef="let element"> {{element.first_name+" "+element.last_name}} </td>
      </ng-container>
  
  
        <ng-container matColumnDef="previouslyAssigned">
          <th mat-header-cell *matHeaderCellDef> Current Agent Username</th>
          <td mat-cell *matCellDef="let element"> {{element.prev_first_name+" "+element.prev_last_name}} </td>
        </ng-container>

        <ng-container matColumnDef="requestFor">
            <th mat-header-cell *matHeaderCellDef> Intended Agent</th>
            <td mat-cell *matCellDef="let element"> {{element.ag_first_name+" "+element.ag_last_name}} </td>
        </ng-container>
  

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action</th>

            <td mat-cell *matCellDef="let element; let i=index;"> 
                <app-button
                    [label]="buttonLabel"
                    [color]="buttonColor" 
                    [type]="buttonType"
                    (click)="confirm(element.transferid)"
                    >
                </app-button>
                
                <app-button
                    [label]="buttonLabel2"
                    [color]="buttonColor2" 
                    [type]="buttonType"
                    (click)="reject(element.transferid)"
                    >
                </app-button>

                <app-button
                    [label]="buttonLabel3"
                    [color]="buttonColor3" 
                    [type]="buttonType"
                    (click)="details(element.transferid)"
                    >
                </app-button>
            </td>
        </ng-container>
  
          
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    