.right{
    float: right;
    width: 12%;
}
.left{
    float: left;
    width: 88%;
}
.right> .text>.first{
    margin: 8px 0 3px 0;;
}
.right>.icon{
    width: 14%;
    float: left;
    margin: 8px 0 3px 0;;
}
.right> .text{
    float: right;
    width: 85%;
}
