<mat-toolbar color="primary">
    <mat-toolbar-row>
        <!-- <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon >menu</mat-icon>
        </button> -->
        <h2>Tax Return Preparer
        </h2>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side" *ngIf="isLoggedIn">
        <mat-nav-list>
            <a mat-list-item routerLink="/dashboard">Dashboard</a>
            <app-admin-menu *ngIf="isAdmin"></app-admin-menu>
            <app-agent-menu *ngIf="isAgent"></app-agent-menu>
            <app-representative-menu *ngIf="isRepresentative"></app-representative-menu>
            <app-viewer-menu *ngIf="isViewer"></app-viewer-menu>
            <a mat-list-item>Ledger</a>
            <a mat-list-item routerLink="/logout">Log Out</a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height:90vh;">
            <router-outlet>
            
            </router-outlet>
        </div>
       
    </mat-sidenav-content>
</mat-sidenav-container>