<div>
    <div class="headerdiv">
      <h2>Pending Bills</h2>
    </div>
    <div class="container">
      <form class="example-form" [formGroup]="searchbox" #formDir="ngForm">
      <div class="row" style="margin-left: 25px;">
        <div class="col">
            <mat-form-field appearance="fill" matInput class="example-full-width">
              <mat-label>Select Applicant</mat-label>
              <mat-select matNativeControl formControlName="name" (selectionChange)="searchchange($event.value)"> 
                  <mat-option value="">-- Select --</mat-option>
                  <mat-option *ngFor="let el of applicants" [value]="el.id">{{el.name}}</mat-option>

              </mat-select>
            </mat-form-field>
          </div>
        <div class="col">
          <app-button class="btn"
              [label]="buttonLabel4"
              [color]="buttonColor" 
              [type]="buttonType"
              (click)="search()"
              >
          </app-button>
        </div>

        <div class="col">
          <app-button class="btn"
              [label]="buttonLabel5"
              [color]="buttonColor" 
              [type]="buttonType"
              (click)="clearAll()"
              >
          </app-button>
        </div>

      </div>
      </form>
    </div>
  
   
      <app-button *ngIf="tobeApproved.length" class="btn"
          [label]="buttonLabel"
          [color]="buttonColor" 
          [type]="buttonType"
          (click)="checkValidation()"
          >
      </app-button>

      <app-button *ngIf="validated" class="btn"
          [label]="buttonLabel2"
          [color]="buttonColor" 
          [type]="buttonType"
          (click)="submit()"
          >
      </app-button>

         
      <app-button *ngIf="tobeApproved.length" class="btn"
          [label]="buttonLabel3"
          [color]="buttonColor2" 
          [type]="buttonType"
          (click)="rejectBill()"
          >
      </app-button>

      <table mat-table [dataSource]="dataList" class="mat-elevation-z8" *ngIf="dataList">
      
          <ng-container matColumnDef="Serial">
            <th mat-header-cell *matHeaderCellDef> Serial </th>
            <td mat-cell *matCellDef=" let i=index;"> {{(i+1)}} </td>
          </ng-container>

          <ng-container matColumnDef="taxpayer_id">
            <th mat-header-cell *matHeaderCellDef> Taxpayer Id </th>
            <td mat-cell *matCellDef="let element"> {{element.taxpayer_id}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="taxpayer_name">
            <th mat-header-cell *matHeaderCellDef>Taxpayer Name</th>
            <td mat-cell *matCellDef="let element"> {{element.taxpayer_name}} </td>
          </ng-container>

          <ng-container matColumnDef="payee" >
            <th mat-header-cell *matHeaderCellDef>Applicant</th>
            <td mat-cell *matCellDef="let element"> {{element.payee}} </td>
          </ng-container>
  
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Applicant Name</th>
            <td mat-cell *matCellDef="let element"> {{element.first_name+' '+element.last_name}} </td>
          </ng-container>

          <ng-container matColumnDef="payee_type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let element"> {{element.payee_type=="ROLE_REPRESENTATIVE"?"TRP":"Resource Center"}} </td>
          </ng-container>
         
          <ng-container matColumnDef="amount">
           
                     <th mat-header-cell *matHeaderCellDef>Commission</th>
                     <td mat-cell *matCellDef="let element" >
                        <span *ngIf="element.payee_type=='ROLE_REPRESENTATIVE'">{{element.representative_commission}}</span> 
                        <span *ngIf="element.payee_type=='ROLE_AGENT'">{{element.agent_commission}}</span> 
                    </td>
                
            <!-- <th mat-header-cell *matHeaderCellDef>Commission</th>
            <td mat-cell *matCellDef="let element" [hidden]="element.payee_type=='ROLE_REPRESENTATIVE'"> {{element.agent_commission}} </td> -->
          </ng-container>
            

          <ng-container matColumnDef="creation_date">
            <th mat-header-cell *matHeaderCellDef>Created at</th>
            <td mat-cell *matCellDef="let element"> {{element.creation_date | date}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Select Bill</th>
            <td *matCellDef="let element">
               <mat-checkbox [value]="element" class="example-margin" (change)="toggle($event)"></mat-checkbox>
            </td>
          </ng-container>
      
        
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
        
  </div>