<div class="headerdiv">
    <h2>File Taxes</h2>
</div>

<div class="example-full-width">
    <form class="example-form" [formGroup]="checkTaxPayer" #formDir="ngForm" (ngSubmit)="taxpayerSubmit()">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <h4 style="color: #3f51b5;text-align: center;">Enter Taxpayer Information</h4>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>TIN</mat-label>
                    <input matInput  formControlName="tinNo" type="text"  placeholder="TIN">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>NID Registered Mobile No</mat-label>
                    <input matInput  formControlName="phoneNo" type="text"  placeholder="Mobile No">
                    </mat-form-field>
                </td>
            </tr>
            <tr *ngIf="otpShow">
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>OTP </mat-label>
                    <input matInput  formControlName="otp" type="text"  placeholder="OTP">
                    </mat-form-field>
                </td>
               
            </tr>
          
          
        
            <tr class="clear:both;" *ngIf="!otpShow">
                
                <td>  
                    <app-button
                        [label]="buttonLabel"
                        [color]="buttonColor" 
                        [type]="buttonType"
                        (click)="taxpayerSubmit()"
                        >
                    </app-button>
                </td>
            </tr>
            <tr class="clear:both;" *ngIf="otpShow">
                
                <td>  
                    <app-button
                        [label]="buttonLabel1"
                        [color]="buttonColor" 
                        [type]="buttonType"
                        (click)="otpSubmit()"
                        >
                    </app-button>

                    <app-button style="margin-left: 20px;"
                        [label]="buttonLabel2"
                        [color]="buttonColor" 
                        [type]="buttonType"
                        (click)="reset()"
                        >
                    </app-button>
                </td>
            </tr>
            <tr *ngIf="showErr">
                <p>Please go to <a href="https://secure.incometax.gov.bd/TINHome">e-TIN</a> to resolve error</p>
            </tr>
        </table>
    
    </form>

</div>