<div class="headerdiv">
    <h2>Add Representative</h2>
  </div>

  
    <mat-tab-group #tabGroup (selectedTabChange)="selectedTabChange($event)" [selectedIndex]="index">
    <mat-tab label="Account Information" [disabled]="addedSuccess">
        <form class="example-form" [formGroup]="addUser" #formDir="ngForm">

            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                        <mat-label>Username (TIN)</mat-label>
                        <input matInput  formControlName="username" type="text"  placeholder="username">
                        <mat-icon matSuffix (click)="verify()" class="verifyclass">check_box</mat-icon>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                        <mat-label>First Name</mat-label>
                        <input matInput  formControlName="firstName" type="text"  placeholder="First Name">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                        <mat-label>Last Name</mat-label>
                        <input matInput  formControlName="lastName" type="text"  placeholder="Last Name">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input matInput  formControlName="email" type="text"  placeholder="Email">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input matInput  formControlName="password" type="password"  placeholder="Password">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput  formControlName="repassword" type="password"  placeholder="Re Password">
                        </mat-form-field>
                    </td>
                </tr>
                <tr style="margin-top:10px;margin-bottom:10px;">
                    <p style="color:red;" *ngIf="failedCreation">User Creation Failed!</p>
                    <p style="color:red;" *ngIf="duplicateEntry">Username already exists!</p>
                    <p style="color:green;" *ngIf="addedSuccess">User Created Successfully!</p>
                    <p style="color:red;" *ngIf="tinnotFound">TIN not found!</p>
                </tr>
                <tr><app-button
                    [label]="buttonLabel1"
                    [color]="buttonColor1" 
                    [type]="buttonType1"
                    (click)="registerUser()"
                    [disabled]="addedSuccess"
                    >
                </app-button></tr>
            
            </table>
        </form>
    </mat-tab>
   
    <form class="example-form" [formGroup]="addRepresentative" #formDir="ngForm" (ngSubmit)="representativeSubmit()">    
   

    <mat-tab label="Basic Information"> 

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="reName">
                    </mat-form-field>
                </td>
                
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>TIN</mat-label>
                        <input matInput formControlName="tinNo">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Date of birth</mat-label>
                    <input matInput  formControlName="reDob"  placeholder="Date of Birth" type="date">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Mobile No</mat-label>
                    <input matInput  formControlName="reMobileNo"  placeholder="Mobile No" type="number">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>NID</mat-label>
                    <input matInput  formControlName="nid" type="number"  placeholder="NID">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>TRP Id</mat-label>
                    <input matInput  formControlName="trpId" type="text"  placeholder="TRP Id">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Smarok No</mat-label>
                    <input matInput  formControlName="refNo" type="String"  placeholder="Smarok No">
                    </mat-form-field>
                </td>
                <td style="width: 50%;">
                    <div class="example-full-width">
                    <label>Registration Certificate</label>
                    <br>
                    <input (change)="selectFile($event)" #fileInput type="file" id="file">

                    <app-button
                        [label]="buttonLabel3"
                        [color]="buttonColor3" 
                        [type]="buttonType3"
                        (click)="uploadFile()"
                        >
                    </app-button>
                </div>
                </td>
            </tr>

            <tr><app-button
                [label]="buttonLabel2"
                [color]="buttonColor2" 
                [type]="buttonType2"
                [disabled]="step1Success"
                (click)="step1()"
                >
            </app-button></tr>
        </table>
    </mat-tab>

    <mat-tab label="Addresses"> 

        <table class="example-full-width" cellspacing="0">
            <tr>
                <h4 class="address">Business Address</h4>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="fill" matInput class="example-full-width">
                        <mat-label>Select Division</mat-label>
                        <mat-select matNativeControl required formControlName="bdivision" (selectionChange)="bdivisionChange($event.value)">
                            <mat-option value="">--Select--</mat-option>
                            <mat-option *ngFor="let div of division" [value]="div.divId">{{div.name}}</mat-option>   
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill" matInput class="example-full-width">
                        <mat-label>Select District</mat-label>
                        <mat-select matNativeControl required formControlName="bdistrict" (selectionChange)="bdistrictChange($event.value)">
                            <mat-option value="">--Select--</mat-option>
                            <mat-option *ngFor="let dis of bDistrict" [value]="dis">{{dis.name}}</mat-option> 
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <tr>      
                <td>
                    <mat-form-field appearance="fill" matInput class="example-full-width">
                        <mat-label>Select Thana</mat-label>
                        <mat-select matNativeControl required formControlName="bthana" >
                            <mat-option value="">--Select--</mat-option>
                            <mat-option *ngFor="let th of bThana" [value]="th.name">{{th.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Address</mat-label>
                    <input matInput  formControlName="baddress" type="text"  placeholder="Business Address">
                    </mat-form-field>
                </td>
            </tr>
            
            <tr>
                <h4 class="address">Permanent Address</h4>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="fill" matInput class="example-full-width">
                        <mat-label>Select Division</mat-label>
                        <mat-select matNativeControl required formControlName="pmdivision" (selectionChange)="pmdivisionChange($event.value)">
                            <mat-option value="">--Select--</mat-option>
                            <mat-option *ngFor="let div of division" [value]="div.divId">{{div.name}}</mat-option>  
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill" matInput class="example-full-width">
                        <mat-label>Select District</mat-label>
                        <mat-select matNativeControl required formControlName="pmdistrict" (selectionChange)="pmdistrictChange($event.value)">
                            <mat-option value="">--Select--</mat-option>
                            <mat-option *ngFor="let dis of pmDistrict" [value]="dis">{{dis.name}}</mat-option> 
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>     
            <tr>
                <td>
                    <mat-form-field appearance="fill" matInput class="example-full-width">
                        <mat-label>Select Thana</mat-label>
                        <mat-select matNativeControl required formControlName="pmthana" >
                            <mat-option value="">--Select--</mat-option>
                            <mat-option *ngFor="let th of pmThana" [value]="th.name">{{th.name}}</mat-option> 
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Address</mat-label>
                    <input matInput  formControlName="pmaddress" type="text"  placeholder="Permanent Address">
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <h4 class="address">Present Address</h4>
            </tr>
            <section class="example-section">
                <mat-checkbox class="example-margin" formControlName="checked" (click)="checkAddress($event)">Same as Permanent Address</mat-checkbox>
            </section>
            <tr>

                <td>
                    <mat-form-field appearance="fill" matInput class="example-full-width">
                        <mat-label>Select Division</mat-label>
                        <mat-select matNativeControl required formControlName="prdivision" (selectionChange)="prdivisionChange($event.value)">
                            <mat-option value="">--Select--</mat-option>
                            <mat-option *ngFor="let div of division" [value]="div.divId">{{div.name}}</mat-option>  
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill" matInput class="example-full-width">
                        <mat-label>Select District</mat-label>
                        <mat-select matNativeControl required formControlName="prdistrict" (selectionChange)="prdistrictChange($event.value)">
                            <mat-option value="">--Select--</mat-option>
                            <mat-option *ngFor="let dis of prDistrict" [value]="dis">{{dis.name}}</mat-option>  
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <tr>            
                <td>
                    <mat-form-field appearance="fill" matInput class="example-full-width">
                        <mat-label>Select Thana</mat-label>
                        <mat-select matNativeControl required formControlName="prthana" >
                            <mat-option value="">--Select--</mat-option>
                            <mat-option *ngFor="let th of prThana" [value]="th.name">{{th.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                    <mat-label>Address</mat-label>
                    <input matInput  formControlName="praddress" type="text"  placeholder="Present Address">
                    </mat-form-field>
                </td>
            </tr>
            <tr><app-button
                [label]="buttonLabel2"
                [color]="buttonColor2" 
                [type]="buttonType2"
                (click)="step2()"
                [disabled]="step2Success"
                >
            </app-button></tr>
        </table>
    </mat-tab>

    <mat-tab label="Bank Account Information"> 

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field appearance="fill" matInput class="example-full-width">
                        <mat-label>Bank Account Name</mat-label>
                        <input matInput  formControlName="bankAccountName" type="text"  placeholder="Bank Account Name">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill" matInput class="example-full-width">
                        <mat-label>Bank Account No</mat-label>
                        <input matInput formControlName="bankAccountNo" type="text"  placeholder="Bank Account No">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="fill" matInput class="example-full-width">
                        <mat-label>Select Bank</mat-label>
                         <mat-select matNativeControl required formControlName="bankName" (selectionChange)="bankChange($event.value)">
                            <mat-option value="">--Select--</mat-option>
                            <mat-option *ngFor="let bn of banks" [value]="bn.bank_name">{{bn.bank_name}}</mat-option> 
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <!-- <mat-form-field appearance="fill" matInput class="example-full-width">
                        <mat-label>Bank Branch</mat-label>
                        <input matInput formControlName="bankBranch" type="text"  placeholder="Bank Branch">
                    </mat-form-field> -->
                    <mat-form-field appearance="fill" matInput class="example-full-width">
                        <mat-label>Select Bank District</mat-label>
                         <mat-select matNativeControl required formControlName="bankDistName" (selectionChange)="bankDistChange($event.value)">
                            <mat-option value="">--Select--</mat-option>
                            <mat-option *ngFor="let bn of bankdist" [value]="bn.dist_name">{{bn.dist_name}}</mat-option> 
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="fill" matInput class="example-full-width">
                        <mat-label>Select Bank Branches</mat-label>
                         <mat-select matNativeControl required formControlName="bankBranch" (selectionChange)="bankBranchChange($event.value)">
                            <mat-option value="">--Select--</mat-option>
                            <mat-option *ngIf="noDataFound" value="">No Data Found</mat-option>
                            <mat-option *ngFor="let bn of bankBranches" [value]="bn.branchName">{{bn.branchName}}</mat-option> 
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill" matInput class="example-full-width">
                        <mat-label>Bank Routing No</mat-label>
                        <input matInput formControlName="routingNo" type="text"  placeholder="Routing No">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <div *ngIf="saving" class="spinner">
                    <mat-spinner></mat-spinner>
                    <h4>Saving Representative! Please wait</h4>
                </div>
                <p style="color:red;" *ngIf="bankfailed">Error saving Bank Information!</p>
                <p style="color:red;" *ngIf="failed">Error saving Representative!</p>
                <p style="color:green;" *ngIf="success">Successfully saved Representative!</p>
            </tr>
            <tr class="clear:both;">
              
                <td>  
                    <app-button
                        [label]="buttonLabel"
                        [color]="buttonColor" 
                        [type]="buttonType"
                        (click)="representativeSave()"
                        >
                    </app-button>
                </td>
            </tr>
        
        </table>
    </mat-tab>   
    </form>
   
  
    
</mat-tab-group>